html {
    background-color: thistle;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 500px;
    height: 500px;
    border: 12px solid powderblue;
    border-radius: 5px;
    margin: 20px;
    object-fit: cover;
}

h1, h2 {
    text-align: center;
}

.intro {
    background-color: papayawhip;
    width: 800px;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
}